
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Corporation",
      "name": "Windshild Autoglass Limited",
      "alternateName": "Windshild Autoglass Limited",
      "url": "https://www.windshildautoglass.com",
      "logo": "https://www.windshildautoglass.com/static/images/quickpay_logo.png",
      "sameAs": [
        "https://facebook.com/windshildautoglass",
        "https://instagram.com/windshildautoglass",
        "https://twitter.com/windshildautoglass",
        "https://www.windshildautoglass.com"
      ]
    }
    </script>